
.card-empty{
  border: 1px dotted black;
  border-radius: 5%;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #50a6f0;
}

.card-empty:hover{
  background-color: hsla(240, 100%, 62%, 0.096);
  cursor: pointer;
}
