<div class="container">
  <div class="card-empty" (click)="openDialog()">+</div>
  <div class="card" *ngFor="let coin of userCoins">
    <p-speedDial
      direction="right"
      [model]="items"
      showIcon="pi pi-bars"
      buttonClassName="p-button-outlined"
      class="speed-dial"
      (onClick)="setCurrentId(coin.id)"
    ></p-speedDial>
    <img class="coin-logo" [src]="coin.image" alt="" />
    <span class="span-item">{{ "Amount: " + coin.amount }}</span>
    <span class="span-item">{{
      "Current price of coin: " + (getCoinCurrentPrice(coin) | currency)
    }}</span>
    <span class="span-item">{{
      "Total: " + (getCoinPriceInUSD(coin) | currency)
    }}</span>
  </div>
</div>
